body {
  font: 100% Helvetica, sans-serif;
  background-color: oklch(92.06% 0.037 307);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#boat {
  height: 300px;
  width: 400px;
  align-self: flex-end;
}

#counter {
  align-self: center;
}
